# Copia este archivo como .env.local y rellena los valores reales
# NUNCA subas .env.local al repositorio

GITHUB_TOKEN=
GITHUB_OWNER=tu-usuario-github
GITHUB_REPO=lumiere-boutique-products

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

ADMIN_PASSWORD=password

NEXT_PUBLIC_WA_NUMBER=523222151711
